/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 de dez de 2019, 18:05:50
    Author     : Max
*/

root {
    display:block;
}

.left-align {
    text-align: left;
}

.rightalign {
    text-align: right;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}

.centered-text {
    text-align: center;
}

.rightalign-bold{
    font-weight: bold;
    text-align: right;
}